<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>bottler</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/styles.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <nav class="nav">
            <a href="/page1">page1</a>
            <a href="/page2">page2</a>
        </nav>

        <div class="content">
            {{ !base }}
        </div>
    </body>
</html>